<img src="http://www.azquotes.com/picture-quotes/quote-no-artist-is-pleased-there-is-no-satisfaction-whatever-at-any-time-there-is-only-a-strange-martha-graham-84-52-45.jpg" height="200" width="425">

<h1>Create new event</h1>

<form action="/auth/profile/events" method="POST">
Name of organizer: <input type= "text" name="name"> <br>
Type of event: <input type= "text" name="type"> <br>
Proposed project: <input type= "text" name="description"> <br>
Date: <input type= "text" name="date"> <br>
Location: <input type= "text" name="location"> <br>
Number of spots: <input type= "text" name="numberofspots"> <br>
Status: <input type= "text" name="status" value> <br>
<input type="submit" name="Submit">
</form>
