<h1>Sign Up</h1>
<form method="POST" action="/auth/signup">
  Name:<input type="text" name="name">
  Email:<input type="text" name="email">
  Password:<input type="text" name="password">
  <input type='submit' value="Signup">
</form>
